*{
	padding: 0; /*doesnot give any space*/
	margin: 0; /*doesnot give any margin*/
}

.web {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('astro.jpg');/*https://www.pexels.com/search/beauty/13thapril*/
	background-size: cover; /*covers the entire container*/
	background-repeat: no-repeat; /*doesnot repeat the background image.*/
	height: 100%; /*gives the height of the background image*/
	width: 100%; /*gives the width of the background image*/
}

.menu{
	background-color: rgba(0,0,0,0.5);/*gives the opacity*/
	font-family: "Roboto", cursive;/*gives the font-family*/
}

body .menu header ul.nav{
	display: flex;/* defines the flexible items be the same length*/
	flex-direction: row; /*defines in the row */
	justify-content: space-around; /*justifies the content*/
}

body .menu header ul.nav li{
	list-style: none;/*doesnot give any list-style.*/
	margin: 20px;/* gives the margin*/
}

body .menu header ul.nav a{
	text-decoration: none;  /* does not give any text-decoration*/
	color: white;/* gives the font color*/
	font-size: 20px;/* gives the font-size*/

}

body .menu header ul.nav li h2.logo{
	color: white;/* gives the font color*/
	border: 1.5px solid white; /* gives the border*/
	border-radius: 55px 30px; /* gives the border-radius*/
}

body .menu header ul.nav li h2:hover{	 
    transform: rotate(360deg);/* logo rotates 360 when hovered*/
    transition-duration: 5s;/* is the duration of the transition*/
}

body .menu header ul.nav li a:hover {
	transition: 0.5s; /* is the duration of the transition*/
	border: 2px solid white;
	border-radius: 25px; 
	background-color: gray; /* gives the background color*/

}

section .text{
	text-align: center;
	color: white;
	font-family: "Lobster", cursive;
}

.pic img{
	height: 80px;
	border-radius: 100%;
}

section .text h1{
	font-weight: bold;
	font-size: 30px;
}

.text h4{
	margin-top: 50px;
}

/*Section*/
section{
	height: 480px;
}

/*About*/
 .about{
 	display: flex;
	background-color: rgba(0,0,0,0.5);
	margin: 50px;
	display: flex;
	flex-direction: row;
}

.about img{
	height: 320px;
	margin:30px;
	border-radius: 100%;
}

.about h3{
	color: white;
	margin: 20px;
	font-family: "Lobster" ,cursive;
}

.biography{
	color: white;
	margin: 65px;
	justify-content: center;
	font-size: 18px;
	border: 2px solid white;
	border-radius: 4%;
	font-family: "Lobster", cursive;
}

/*CV*/
.personal{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,0.5);
	margin: 50px;
}

.flex-container{
	display: flex;
	color: white;
	height: 380px;
	font-family: "Lobster", cursive;
	font-size: 17px;
}

.personal h3{
	color: white;
	margin-left: 45%;
	margin-top:10px; 
}

section .personal fieldset{
	padding: 20px;
    margin:30px;
    border: 2px solid white;
	border-radius: 8%;
	width: 100%;
	text-align: center;
}

.personal ul{
	list-style: none;
	text-align: center;
}

.study table, th, td {
    border: 1px solid white;
    border-style: double;
    text-align: center;
    height: 60px;
}

.experience{
	font-size: 15px;
}


/*Report*/
.design {
	margin: 30px;
	font-family: "Times New Roman";
}

.cover{
	text-align: center;
}

 .design h3{
 	margin-bottom: 20px;
 }

 .toc ul{
 	list-style: none;
 }

.toc ul li{
	font-weight: bold;
}
/*Social*/

section .socials{
	background-color: rgba(0,0,0,0.5); /* gives the opacity*/
	height: 400px; /* gives the height*/
	margin: 50px; /* gives the weight*/
}

section .socials h2{
	text-align: center; /* the text is aligned to center*/ 
	color: white; /* gives the color*/
	font-family: "Lobster", cursive;/* gives the font-family*/
	padding-top: 20px;/* gives the padding top*/
}

ul.media{
	list-style: none;/*does not give any liststyle*/
}

ul.media li{
	display: inline-block;/* the media is displayed inline-block*/
	margin: 48px;
	margin-top: 100px;
}

ul.media a{
	display: inline-block;/* the media is displayed inline-block*/
	width:145px; /* gives the width*/
	height: 145px; /* gives the height*/
	text-align: center; /* the text is aligned to center*/
	line-height: 145px;/* gives the line-height*/
	position: relative;
	transition: 0.5s;
	background-color: white;
	transform-style:preserve-3d;/* transformed in 3D direction*/
	border:1px solid black; /* gives the border*/
	border-radius: 50%;/* gives the border-radius*/
}

ul.media .front, ul.media .back{
	width: 145px;
	height: 145px;
	position: absolute;
	transform: translateZ(40px);/* translate in the Z-axis*/
	color: black;
	font-size: 50px;
	border:1px solid white; 
	border-radius: 50%;
}

ul.media .back{
	transform: rotateX(90deg) /* rotate 90 deg in X-axis*/ translateZ(42px);/* translate in the Z-axis*/
	backface-visibility: hidden;/*the backface visibility is hidden*/
}

a.facebook .front{
	background: #3b5999; /*https://www.materialui.co/socialcolors 17th april */
}
a.instagram .front{
	background: #e4405f;/* gives the background of the instagram*/ 
}
a.google-plus .front{
	background: #dd4b39;/* gives the background of the google-plus*/
}
a.linkedin .front{
	background: #0077B5; /* gives the background of the linkedin*/
}
a.github .front{
	background: #bd2c00; /* gives the background of the github*/
}

a.facebook .back, a.instagram .back, a.google-plus .back, a.linkedin .back, a.github .back{
	background: white;/* gives the background for the back of the media*/
}

.media a:hover{
	transform: rotateX(-90deg);/*rotate in X-axis*/
}
.media a:hover{
	backface-visibility: visible;/*the backface is visible*/
}

/*Contact*/
section .contact{
	background-color: rgba(0,0,0,0.5);
	height: 435px;
	margin: 50px;
	color:white;
	text-align: center;
	width: 50%;
}

input {
	border-radius: 20%;
}

section .contact fieldset{
	height: 420px;
	margin: 15px;
	width: 95%;
	border-radius: 20%;
}

.map{
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 35%;
	left: 55%;
	top: 20%;
	margin-left: 40px;
}

.map iframe{
	width: 100%;
}

/*Footer*/
footer{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
}

footer .footer-text{
	text-align: center;
	color: white;
	padding: 1px;
}

/*Responsive*/
@media only screen and (max-width: 1047px) {
	body{
		margin: 0;
		padding: 0;
		height: 100%;
	}
	body .menu header ul.nav{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	body .menu header ul.nav a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}

	.nav h2{
		font-size: 15px;
}
.about{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about img{
	height: 300px;
	border-radius: 100%;
}

.about h3{
	margin: 20px;
	font-size: 30px;
}
section{
	height: auto;
	width: auto;
}

.biography{
	margin: 65px;
	justify-content: center;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 4%;
}
.flex-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
section .personal fieldset{
	justify-content: center;
	height: auto;
	width: auto;
	font-size: 30px;
}

.experience{
	font-size: 25px;
}
section .socials{
	display: flex;
	justify-content: center;
	height: 100%;
}
section .socials h2{
	justify-content: center; 
    font-size: 45px;
	padding-top: 20px;
}
section .contact{
	height: 100%;
	margin: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}
footer{
	height:100%;
	margin-top: 40px;
	width: 100%;
}
.footer-text{
	text-align: center;
	font-size: 20px;
	padding: 1px;
}
}




